---
layout: index
title: thtrieu
sub: grab a coffee, finish the book, build something
---

<section>
	<ul>
		{% for post in site.posts %}

		{% if post.tag == "essay" %}
		
		<li>
			<div class="post-date">
				<time>{{ post.date | date: "%B %-d, %Y" }}</time>
			</div>
			<div class="title">
				<a href="{{ post.url | prepend: site.baseurl }}"
				onmouseover = "postLogo()"
				onmouseout = "thisLogo()"
				onmouseup = "postClicked()"> {{ post.title }} </a>
			</div>
		</li>

		{% endif %}

		{% endfor %}

	</ul>
</section>
<script id="dsq-count-scr" src="//thtrieu.disqus.com/count.js" async></script>

