<aside class="logo">

	{% assign about = 'http://i.imgur.com/idubpLD.gif' %}
	{% assign home = 'http://i.imgur.com/OsZzGqC.gif' %}
	{% assign post = 'http://i.imgur.com/FwuFo0w.gif'%}
	{% assign link = '/' %}
	{% assign prompt = 'back home' %}
		
	{% if page.url == '/about.html' or page.url == '/about' %}
		{% assign that = home %}
		{% assign this = about %}
	{% else %}
		{% if page.url == '/index.html' or page.url == '/' %}
			{% assign that = about %}
			{% assign this = home %}
			{% assign link = '/about' %}
			{% assign prompt = 'about me' %}
		{% else %}
			{% assign that = home %}
			{% assign this = post %}
		{% endif %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl }}">
		<img src="{{ this }}"
		onmouseover = "this.src='{{ that }}'"
		onmouseout = "this.src='{{ this }}'"
		class="gravatar">
	</a>
	<span class="logo-prompt">{{ prompt }}</span>

</aside>
