<aside class="logo">

	{% assign coffee = 'http://i.imgur.com/OsZzGqC.gif' %}
	{% assign lake = 'http://i.imgur.com/FwuFo0w.gif' %}
	{% assign daisy = 'http://i.imgur.com/bGFJgrh.gif'%}
	{% assign wind = 'http://i.imgur.com/mVCHrAb.gif'%}
	{% assign rock = 'http://i.imgur.com/Gy59gNQ.gif'%}
	{% assign noting = 'http://i.imgur.com/ZPFQbWM.gif'%}
	{% assign writing = 'http://i.imgur.com/iWhw7SG.gif' %}
	{% assign drafting = 'http://i.imgur.com/lkIS1Ir.gif' %}
	{% assign pressing = 'http://i.imgur.com/rTnQRyw.gif' %}
	{% assign composing = 'http://i.imgur.com/5pKDFn8.gif' %}
	{% assign link = '/' %}
	{% assign prompt = 'back home' %}

	{% assign home = daisy %}
	{% assign about = coffee %}
	{% assign post = rock %}
		
	{% if page.url == '/about.html' or page.url == '/about' %}
		{% assign that = home %}
		{% assign this = about %}
	{% else %}
		{% if page.url == '/index.html' or page.url == '/' %}
			{% assign that = about %}
			{% assign this = home %}
			{% assign link = '/about' %}
			{% assign prompt = 'about me' %}
		{% else %}
			{% assign that = home %}
			{% assign this = post %}
		{% endif %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl }}">
		<img src="{{ this }}"
		onmouseover = "this.src='{{ that }}'"
		onmouseout = "this.src='{{ this }}'"
		class="gravatar">
	</a>
	<span class="logo-prompt">{{ prompt }}</span>

</aside>
