.highlight {
  margin: 40px 0;
  //background-color: #49483e;
  .c {
    color: #0c9;
    font-style: italic;
  }
  // Comment
  .err {
    color: #a61717;
    background-color: #e3d2d2;
  }
  // Error
  .k {
  }
  // Keyword
  .o {
  }
  // Operator
  .cm {
    color: #998;
    font-style: italic;
  }
  // Comment.Multiline
  .cp {
    color: #999;
  }
  // Comment.Preproc
  .c1 {
    color: #0c9;
    font-style: italic;
  }
  // Comment.Single
  .cs {
    color: #999;
    font-style: italic;
  }
  // Comment.Special
  .gd {
    color: #000;
    background-color: #fdd;
  }
  // Generic.Deleted
  .gd .x {
    color: #000;
    background-color: #faa;
  }
  // Generic.Deleted.Specific
  .ge {
    font-style: italic;
  }
  // Generic.Emph
  .gr {
    color: #a00;
  }
  // Generic.Error
  .gh {
    color: #999;
  }
  // Generic.Heading
  .gi {
    color: #000;
    background-color: #dfd;
  }
  // Generic.Inserted
  .gi .x {
    color: #000;
    background-color: #afa;
  }
  // Generic.Inserted.Specific
  .go {
    color: #888;
  }
  // Generic.Output
  .gp {
    color: #555;
  }
  // Generic.Prompt
  .gs {
  }
  // Generic.Strong
  .gu {
    color: #aaa;
  }
  // Generic.Subheading
  .gt {
    color: #a00;
  }
  // Generic.Traceback
  .kc {
  }
  // Keyword.Constant
  .kd {
  }
  // Keyword.Declaration
  .kp {
  }
  // Keyword.Pseudo
  .kr {
    
  }
  // Keyword.Reserved
  .kt {
    color: #458;
    
  }
  // Keyword.Type
  .m {
    color: #0086b3;
  }
  // Literal.Number
  .s {
    color: #d14;
  }
  // Literal.String
  .na {
    color: #008080;
  }
  // Name.Attribute
  .nb {
    color: #0086b3;
  }
  // Name.Builtin
  .nc {
    color: #458;
  }
  // Name.Class
  .no {
    color: #008080;
  }
  // Name.Constant
  .ni {
    color: #800080;
  }
  // Name.Entity
  .ne {
    color: #900;
    
  }
  // Name.Exception
  .nf {
    color: #900;
    
  }
  // Name.Function
  .nn {
    color: #555;
  }
  // Name.Namespace
  .nt {
    color: #000080;
  }
  // Name.Tag
  .nv {
    color: #008080;
  }
  // Name.Variable
  .ow {
    
  }
  // Operator.Word
  .w {
    color: #bbb;
  }
  // Text.Whitespace
  .mf {
    color: #099;
  }
  // Literal.Number.Float
  .mh {
    color: #099;
  }
  // Literal.Number.Hex
  .mi {
    color: #099;
  }
  // Literal.Number.Integer
  .mo {
    color: #099;
  }
  // Literal.Number.Oct
  .sb {
    color: #d14;
  }
  // Literal.String.Backtick
  .sc {
    color: #d14;
  }
  // Literal.String.Char
  .sd {
    color: #d14;
  }
  // Literal.String.Doc
  .s2 {
    color: #d14;
  }
  // Literal.String.Double
  .se {
    color: #d14;
  }
  // Literal.String.Escape
  .sh {
    color: #d14;
  }
  // Literal.String.Heredoc
  .si {
    color: #d14;
  }
  // Literal.String.Interpol
  .sx {
    color: #d14;
  }
  // Literal.String.Other
  .sr {
    color: #009926;
  }
  // Literal.String.Regex
  .s1 {
    color: #d14;
  }
  // Literal.String.Single
  .ss {
    color: #990073;
  }
  // Literal.String.Symbol
  .bp {
    color: #999;
  }
  // Name.Builtin.Pseudo
  .vc {
    color: #008080;
  }
  // Name.Variable.Class
  .vg {
    color: #008080;
  }
  // Name.Variable.Global
  .vi {
    color: #008080;
  }
  // Name.Variable.Instance
  .il {
    color: #099;
  }
  // Literal.Number.Integer.Long
}



.highlight .c { color: #969896 } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #a71d5d} /* Keyword */
.highlight .l { color: #c3f } /* Literal */
.highlight .n { color: #333 } /* Name */
.highlight .o { color: #a71d5d} /* Operator */
.highlight .p { color: #333 } /* Punctuation */
.highlight .cm { color: #969896; } /* Comment.Multiline */
.highlight .cd { color: #969896; } /* Comment.Multiline */
.highlight .cp { color: #969896 } /* Comment.Preproc */
.highlight .c1 { color: #969896 } /* Comment.Single */
.highlight .cs { color: #969896 } /* Comment.Special.p */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs {  } /* Generic.Strong */
.highlight .kc { color: #6cf } /* Keyword.Constant */
.highlight .kd { color: #6cf } /* Keyword.Declaration */
.highlight .kn { color: #a71d5d} /* Keyword.Namespace */
.highlight .kp { color: #6cf } /* Keyword.Pseudo */
.highlight .kr { color: #6cf } /* Keyword.Reserved */
.highlight .kt { color: #6cf } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #0086b3 } /* Literal.Number */
.highlight .s { color: #183691 } /* Literal.String */
.highlight .na { color: #f36 } /* Name.Attribute */
.highlight .nb { color: #ed6a43 } /* Name.Builtin */
.highlight .nc { color: #795da3; } /* Name.Class */
.highlight .no { color: #6cf } /* Name.Constant */
.highlight .nd { color: #0086b3 } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #f36 } /* Name.Exception */
.highlight .nf { color: #795da3 } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #333 } /* Name.Namespace */
.highlight .nx { color: #f36 } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f90 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #ed6a43 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #0086b3 } /* Literal.Number.Float */
.highlight .mh { color: #0086b3 } /* Literal.Number.Hex */
.highlight .mi { color: #0086b3 } /* Literal.Number.Integer */
.highlight .mo { color: #0086b3 } /* Literal.Number.Oct */
.highlight .sb { color: #183691 } /* Literal.String.Backtick */
.highlight .sc { color: #183691 } /* Literal.String.Char */
.highlight .sd { color: #183691 } /* Literal.String.Doc */
.highlight .s2 { color: #183691 } /* Literal.String.Double */
.highlight .se { color: #183691 } /* Literal.String.Escape */
.highlight .sh { color: #183691 } /* Literal.String.Heredoc */
.highlight .si { color: #183691 } /* Literal.String.Interpol */
.highlight .sx { color: #183691 } /* Literal.String.Other */
.highlight .sr { color: #183691 } /* Literal.String.Regex */
.highlight .s1 { color: #183691 } /* Literal.String.Single */
.highlight .ss { color: #183691 } /* Literal.String.Symbol */
.highlight .bp { color: #0086b3 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #c3f } /* Literal.Number.Integer.Long */
