---
layout: compress
---

<script type="text/javascript" async
  src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
	</head>

	<body>

		{% include header.html %}

		<main>
			{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
		</main>

		{% if page.path contains '_posts' %}

			{% if content contains 'reversefootnote' %}
				<aside class="note"></aside>
				<script async src="{{site.baseurl}}/assets/footnotes.js"></script>
			{% endif %}

		{% endif %}

	</body>
	<script>
		var post = '{{ site.post }}';
		var that = '{{ that }}';
		var this_ = '{{ this }}';
		function postLogo() {
			document.getElementById("logo").src = post;
		}
		function postClicked() {
			this_ = post;
		}
		function thatLogo() {
			document.getElementById("logo").src = that;
		}
		function thisLogo() {
			document.getElementById("logo").src = this_;
		}
		function clicked() {
			this_ = that
		}
	</script>
</html>
