---
layout: compress
---

<script type="text/javascript" async
  src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<!DOCTYPE html>
<html lang="en">
	{% assign link = '/' %}
	{% assign post = site.logos.pure %}
	{% assign home = site.logos.daisy %}
	{% assign lost = site.logos.rock %}

	{% if page.title == site.title %}
		{% assign this = home %}
		{% assign that = lost %}
		{% assign link = 'about' %}
	{% else %}
		{% if page.title == 'about' %}
			{% assign this = lost %}
			{% assign that = home %}
		{% else %}
			{% assign this = post %}
			{% assign that = home %}
		{% endif %}
	{% endif %}
	
	<head>
		{% include head.html %}
	</head>

	<body>

		{% include header.html %}

		<main>
			{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
		</main>

		{% if page.path contains '_posts' %}

			{% if content contains 'reversefootnote' %}
				<aside class="note"></aside>
				<script async src="{{site.baseurl}}/assets/footnotes.js"></script>
			{% endif %}

		{% endif %}

	</body>
	<script>
		var that = '{{ that }}';
		var thiS = '{{ this }}';
		function postLogo() {
			document.getElementById("logo").src = '{{ post }}';
		}
		function thatLogo() {
			document.getElementById("logo").src = that;
		}
		function thisLogo() {
			document.getElementById("logo").src = thiS;
		}
		function postClicked() {
			thiS = '{{ post }}';
		}
		function clicked() {
			thiS = that;
		}
	</script>
</html>
