---
layout: default
---

<noscript>
	<style>

		article .footnotes {
			display: block;
		}

	</style>
</noscript>

<article>

	<div class="center">
		<h1 onmouseover="buttonLogo()"
		onmouseout = "thisLogo()"><a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#116;&#104;&#116;&#114;&#105;&#101;&#117;&#064;&#097;&#112;&#099;&#115;&#046;&#118;&#110;" target = "_blank"><img src="http://i.imgur.com/CKLpgcs.png (email icon with padding)" alt="alt text" /></a>     <a href="http://github.com/thtrieu/" target = "_blank"><img src="http://i.imgur.com/aV59QS6.png (github icon with padding)" alt="alt text" /></a>     <a href="https://linkedin.com/in/thtrieu95" target = "_blank"><img src="http://i.imgur.com/Q9Dr6XJ.png (linkedin icon with padding)" alt="alt text" /></a>     <a href="http://thtrieu.github.io/resume.pdf" target = "_blank"><img src="http://i.imgur.com/2amdaUm.png (resume icon with padding)" alt="alt text" /></a>     <a href="#share"><img src="http://i.imgur.com/GE4GmC3.png (share icon with padding)" alt="alt text" /></a> 
</h1>
		<time>{{ page.sub }}</time>
	</div>

		<!--<div class="divider"></div>-->

	<p>&nbsp;</p><p></p>
	{{ content }}
	<p>&nbsp;</p><p></p>
</article>